.btn {
  &.btn-default {
    margin-bottom: 10px;
  }
}

.btn {
  &.btn-primary {
    display: block;
    margin: 0 0 0 auto;
  }
}

input, textarea {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}
