<button class="btn btn-success" (click)="onModalOpen()">Add User</button>
<hr>
<ul class="list-group">
  <li style="cursor: pointer;"
      class="list-group-item clearfix"
      *ngFor="let user of usersList; let i = index"
      (click)="onNavigate(user._id)"
      [class.disabled]="!user.isActive">
    <div class="pull-left">
      <img [src]="user.picture" [alt]="user.name" class="img-responsive">
      <h4 class="list-group-item-heading">{{ user.name }}</h4>
      <span class="badge" *ngIf="user.isActive">
        online
      </span>
    </div>
    <div class="pull-right">
      <button class="btn--close" (click)="onUserDelete(i)"></button>
    </div>
  </li>
</ul>
<app-modal *ngIf="modalOpen" (closeModal)="onModalClose()">
  <app-user-add (emitUser)="onEmitUser($event)"></app-user-add>
</app-modal>
