@import '../scss/mixins.scss';

a {
  display: flex;
  align-items: center;
  .pull-left {
    display: flex;
    align-items: center;
    img {
      border-radius: 50px
    }
    h4 {
      margin-left: 15px;
      margin-bottom: 0px;
    }
  }

  .pull-right{
    margin-left: auto;
    .btn--close {
      border: none;
      margin: 10px;
      cursor: pointer;
      transform: rotate(45deg);
      background-color: transparent;
      outline: none;
      @include buttonAdd(16px, 2px, #333);
    }
  }

}
