<ul class="list-group">
  <li style="cursor: pointer;"
     class="list-group-item clearfix"
      *ngFor="let user of usersList; let i = index"
      (click)="onClick(user._id)"
      [class.disabled]="!user.isActive">
    <div class="pull-left">
      <img [src]="user.picture" [alt]="user.name" class="img-responsive">
      <h4 class="list-group-item-heading">{{ user.name }}</h4>
      <span class="badge" *ngIf="user.isActive">
        active
      </span>
    </div>
    <div class="pull-right">
      <button class="btn--close" (click)="onUserDelete(i)"></button>
    </div>
  </li>
</ul>
